.contactform-container {
  padding: 10px 90px;
}

.contactform-container input,
textarea {
  text-align: left;
  opacity: 50%;
}

.searchButton-form {
  margin: 5px;
  border-radius: 25px;
  padding: 10px 50px;
  background-color: white;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
}

.ContactForm {
  background-color: #fbda61;
  background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
}

.ContactForm textarea {
  height: 150px;
  width: 195px;
}

.contactform-title h2 {
  font-family: 'Leckerli One', cursive;
  padding: 20px 0;
  text-align: center;
  color: #333;
}

/************************ 
******VERSION DESKTOP*****
************************/

@media only screen and (min-width: 1085px) {
  .ContactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contactform-container {
    width: 40%;
    background-color: #f88360;
    padding: 1.25em;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    font-size: 1.2em;
  }

  .contactform-container form {
    display: flex;
    flex-direction: column;
  }

  .form-control {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #434343;
    font-size: 18px;
    margin-bottom: 16px;
  }

  .ContactForm input {
    height: 45px;
  }

  .ContactForm textarea {
    width: 100%;
  }

  .searchButton-form {
    margin: 5px;
    border-radius: 25px;
    padding: 10px 50px;
    background-color: white;
    font-weight: 900;
    color: #f88360;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
  }

  .searchButton-form:active {
    position: relative;
    top: 1px;
  }
}
