.footer-container,
.copyright {
  width: 100%;
  background-color: rgba(26, 204, 139, 0.76);
  padding: 20px;
  color: #e4e4e4;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-list {
  list-style-type: none;
  color: antiquewhite;
  text-align: center;
}

.footer-sitemap {
  padding: 18px 15px;
  margin: 0px 30px;
}

.footer-titre {
  padding-bottom: 30px;
}

.social-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px;
}

.social-follow {
  text-align: center;
  font-family: 'Leckerli One', cursive;
  color: #333;
}

.social-icons {
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 16px;
}
a.social {
  margin: 0 10px;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
.copyright {
  margin: 0 auto;
  padding: 0 44%;
  line-height: 20px;
}

a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: rgb(187, 15, 110);
}
