.footer-container,
.copyright {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e4e4e4;
  padding: 30px;
  color: #e4e4e4;
}

.fr-sitemap > ul,
.social-icons {
  padding: 5%;
}

.footer-list {
  list-style-type: none;
}

.footer-sitemap {
  padding-bottom: 30px;
}

.footer-titre {
  padding-bottom: 15px;
}

.social-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px;
  padding-bottom: 30px;
}
.social-follow {
  text-align: center;
  font-family: 'Leckerli One', cursive;
  color: #333;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 16px;
}
a.social {
  margin: 0 10px;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
.copyright {
  justify-content: center;
  padding: 0;
  margin: 0;
}
a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: rgb(187, 15, 110);
}
