@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@600&display=swap');

/********************************
-           BANNER
********************************/

/* ------ Mobile version ------ */
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: 9em;

  background-image: url(../assets/bg-image2.jpg);
  background-position: center;
  background-size: cover;
}

.header-title {
  font-family: 'Berkshire Swash', cursive;
  text-shadow: #000000 2px 2px, #000000 -2px 2px, #000000 -2px -2px,
    #000000 2px -2px;

  text-align: center;
  color: #f2cd61;
  font-size: 40px;

  padding: 1em 0em;
  padding-right: 1em;
}

.logo {
  display: flex;
  height: 75px;
  margin: 8px;
}

/* ------ Desktop version ------ */

@media only screen and (min-width: 1085px) {
  .header {
    height: 22em;
    position: relative;
    display: flex;
    background-size: cover;
  }

  .header-title {
    font-family: 'Berkshire Swash', cursive;
    color: #f2cd61;
    font-size: 470%;

    padding-bottom: 110px;
    padding-left: 15%;
    padding-right: 13%;
  }

  .logo {
    display: flex;
    height: 8em;
    margin-bottom: 3%;
  }

  .logo:hover {
    filter: contrast(120%);
  }
}

/********************************
-           NAVBAR
********************************/

/* ------ Mobile version ------ */

.rollmenu {
  display: flex;
  justify-content: flex-end;
  padding: 7px 14px;
  margin-right: 25px;
  max-height: 100;

  color: #62c9fa;
  background-color: #333;

  border-radius: 5px;
  border: 1px solid #f2cd61;
  cursor: pointer;

  text-decoration: none;
  font-size: 13px;
}

.rollmenu:focus {
  outline: currentColor;
}

.nav-list-inactive {
  position: absolute;

  opacity: 0;
  height: 0;
  overflow: hidden;
}

.nav-list-active {
  opacity: 1;
  height: auto;
  position: absolute;
  right: 0;
  transition: opacity 0.5s ease-in-out;
  margin-top: 363px;
  width: 100%;
  z-index: 3000;
  list-style-type: none;
}

.nav-list-item-active {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px 20px;

  background-color: rgba(131, 216, 255, 0.97);
  transition: filter 400ms;

  font-size: 20px;
  font-family: 'Pridi', serif;
}

.nav-link-item-active {
  color: black;
  text-decoration: none;
}

.nav-link-item-active:hover {
  color: whitesmoke;
  text-decoration: none;
}

/* ------ Desktop version ------ */

@media only screen and (min-width: 1085px) {
  .rollmenu {
    display: none;
  }

  .nav-list-active,
  .nav-list-inactive {
    width: 100%;
    height: 22%;
    margin-top: 297px;

    display: flex;
    justify-content: space-evenly;
    position: absolute;

    background-image: url(../assets/texture.jpg);
    background-size: cover;

    list-style-type: none;
    opacity: 1;
  }

  ul {
    padding-inline-start: 0;
  }

  .nav-list-item-active,
  .nav-list-item-inactive {
    display: block;
    padding-top: 22px;
    padding-left: 18px;
    padding-right: 18px;

    font-size: 20px;
    font-family: 'Pridi', serif;
    background-color: unset;
  }

  .nav-list-item-active:hover,
  .nav-list-item-inactive:hover {
    border-bottom: solid 6px rgb(98, 201, 249);
    filter: drop-shadow(3px 3px 8px rgba(98, 201, 249, 0.671));
    transition: filter 200ms;
  }

  .nav-link,
  .nav-link-item:hover,
  .nav-link-item:visited,
  .nav-link-item-active,
  .nav-link-item-inactive {
    padding-left: 25px;
    padding-right: 25px;

    color: white;
    text-decoration: none;
  }
}

/********************************
-           SEARCHBAR
********************************/

/* ------ Mobile version ------ */

.search-bar {
  display: none;
}

/* ------ Desktop version ------ */

@media only screen and (min-width: 1085px) {
  #cardName {
    cursor: text;
    border-radius: 20px;
    width: 60%;
    height: 25px;
    font-weight: bold;
    background: rgb(60, 36, 13);
    background: linear-gradient(
      180deg,
      rgba(60, 36, 13, 1) 0%,
      rgba(104, 62, 22, 1) 35%,
      rgba(60, 36, 13, 1) 100%
    );
    color: #f2cd61;
    border-color: #ffd65c;

    padding-left: 10px;
    margin: 0px 2.5%;
  }

  #cardName:focus {
    outline: 0;
  }
  #cardName::placeholder {
    color: #f2cd61;
    font-family: Pridi, serif;
  }

  .search-bar {
    display: contents;
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
  }

  #search-button {
    padding-left: 0.2em;
    padding-right: 0.2em;

    background-color: rgba(98, 201, 249, 0.514);
    border-radius: 30%;
    border-width: 5px;
    border-color: rgba(98, 201, 249, 0.514);
    transition: filter 300ms;
  }

  #search-button:hover {
    cursor: pointer;
    filter: opacity(90%);
  }
}
