/********************************
-           BANNER
********************************/

/* ------ Mobile version ------ */
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 10em;
  background-position: center;
  background-size: cover;
  padding: 20px 0;
  background-color: #3eecac;
  background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);
}

.header-title {
  display: none;
}

.logo-navbar {
  display: flex;
  height: 150px;
}

/* ------ Desktop version ------ */

@media only screen and (min-width: 1085px) {
  .header {
    height: 22em;
    position: relative;
    display: flex;
    background-size: cover;
  }

  .header-title {
    text-align: center;
    font-size: 45px;
    font-family: 'Fredoka One', cursive;
    color: black;
  }

  .logo-navbar {
    display: flex;
    height: 8em;
    margin-bottom: 3%;
  }

  .logo-navbar:hover {
    filter: contrast(120%);
  }
}

/********************************
-           NAVBAR
********************************/

/* ------ Mobile version ------ */

.rollmenu {
  display: flex;
  justify-content: flex-end;
  padding: 7px 14px;
  margin-right: 25px;
  max-height: 100;
  color: white;
  background-color: #333;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
}

.rollmenu:focus {
  outline: currentColor;
}

.nav-list-inactive {
  position: absolute;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.nav-list-active {
  opacity: 1;
  height: auto;
  position: absolute;
  right: 0;
  transition: opacity 0.4s ease-in-out;
  margin-top: 620px;
  width: 1085px;
  z-index: 3000;
  list-style-type: none;
  min-width: 650px;
}

.nav-list-item-active {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 30px 20px;
  background-color: rgb(22, 22, 22);
  transition: filter 400ms;
  font-size: 20px;
  overflow: hidden;
}

.nav-link-item-active {
  color: white;
  text-decoration: none;
  margin: 0;
}

.nav-link-item-active:hover {
  color: rgb(109, 109, 109);
}

/* Fixing menu */

@media only screen and (max-width: 650px) {
  .nav-list-active {
    opacity: 1;
    height: auto;
    position: absolute;
    right: 0;
    transition: opacity 0.4s ease-in-out;
    margin-top: 620px;
    width: 650px;
    z-index: 3000;
    list-style-type: none;
  }
}
/* ------ Desktop version ------ */

@media only screen and (min-width: 1085px) {
  .rollmenu {
    display: none;
  }

  .nav-list-active,
  .nav-list-inactive {
    font-family: 'Duru Sans', sans-serif;
    width: 100%;
    height: 22%;
    margin-top: 297px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    background-size: cover;
    list-style-type: none;
    opacity: 1;
  }

  ul {
    padding-inline-start: 0;
  }

  .nav-list-item-active,
  .nav-list-item-inactive {
    display: block;
    padding: 11px 18px;
    font-size: 20px;
    font-family: 'Pridi', serif;
    background-color: unset;
  }

  .nav-list-item-active:hover,
  .nav-list-item-inactive:hover {
    text-decoration: none;
  }
  .nav-link-item-inactive > a {
    text-decoration: none;
  }

  .nav-link,
  .nav-link-item:hover,
  .nav-link-item:visited,
  .nav-link-item-active,
  .nav-link-item-inactive {
    font-family: 'Duru Sans', sans-serif;
    padding-left: 25px;
    padding-right: 25px;
    color: #323639;
    text-decoration: unset;
  }
}
